html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; }

body * {
  margin: 0;
  padding: 0;
}

body {
  font: normal 100%/1.15 "Merriweather", serif;
  background-color: #7ed0f2;
  color: #fff;
}

.wrapper {
  position: relative;
  max-width: 1298px;
  height: auto;
  margin: 2em auto 0 auto;
}

.box {
  max-width: 70%;
  min-height: auto;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
  background: url("https://uc4ac29978bb13003a77453ed099.dl.dropboxusercontent.com/cd/0/inline/A5d_56SMsG_3lsUMQh3Xgg9mhYGA0hivvzfqQpD3BYdfihydlGf6BZnTq2ElKWe92OjRlaJ2P1avMGWGki7uFhjdcFOZU4UV9uK5kaNnXPxGmw/file#") no-repeat top 10em center/128px 128px,
              transparent url("https://uc35e41e7d868dce2cdaf410e3a4.previews.dropboxusercontent.com/p/thumb/AA0IDdk4Xv-vpwS4xAHmZLTJhB8o1kBAG2jpt570aw0LNZKWo_8nnLP68b6xr2BE8SzgcwztZEB5rqUArfIW0GGMGGTf_6Zgbe1194IVVuNBseMR0dqg6mvledomcgcaOVO6WaipxdO1k_dgwxAIzXTRA4U5i-n6OdgNNmmbWABoeiaFFxCUsu3Hv8SClOmiKySHOpgeD9EicvIMaETy-3pNYSdsFQsqaUBSG3qyhL_UY6y2eQ7g9UCe10kCPgTe52zbZwfma-0cY_SgNZWjH9F1-gXjvC0pHUhzp2kDhgT3VuoFHwYmap7x2lZvbP03xbsC_gGuCnJ-00CKUrW1kaV1mKmlMAAaVhI96In-mEZqd_OopbsFCDLss2DRPH0km6SAbRgY26f84iGR5atvrj1H/p.png?fv_content=true&size_mode=5") no-repeat top 13em center/128px 128px;
}

h1, p:not(:last-of-type) { text-shadow: 0 0 6px #216f79; }

h1 {
  margin: 0 0 1rem 0;
  font-size: 8em;
}

p {
  margin-bottom: 0.5em;
  font-size: 3em;
}

p:first-of-type { margin-top: 4em; }

p > a {
  border-bottom: 1px dashed #216f79;
  font-style: italic;
  text-decoration: none;
  color: #216f79;
}

p > a:hover { text-shadow: 0 0 6px #216f79; }

p img { vertical-align: bottom; }