.table-wrapper {
	width: 100%; 
	padding: 25px 40px;
	box-sizing: border-box;

}

table { 
	width: 100%; 
	border-collapse: collapse; 
	margin:50px auto;
	}

tr:nth-of-type(odd) { 
	background: #FFEECC; 
	}

th { 
	background: #1F4B59; 
	color: #FFEECC; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #FFEECC; 
	text-align: left; 
	font-size: 18px;
	}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
    
    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #FFEECC; }
	
	td {
		border: none;
		border-bottom: 1px solid #FFEECC; 
		position: relative;
		padding-left: 50%; 
		width: 130px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-column);
		color: #1F4B59;
		font-weight: bold;
    }
    footer{
        position: relative;
    }
}