.artefacts-page-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.artefact-page-card-wrapper {
    width: 360px;
    height: 230px;
    border-radius: 8px;
    background: #FFEECC;
    padding: 10px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
}

.artefact-page-card-name {
    font-size: 20px;
    color: #1F4B59;
    font-weight: bold;
    align-self: center;
    margin-bottom: 15px;
}
.artefact-infos-wrapper {
    display:flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}
.artefact-info-text {
    font-size: 18px;
    color: #1F4B59;
    margin-bottom: 10px;
    width: fit-content;
    padding:5px;
}
.artefact-info-text span {
    font-weight:bold;
}

.artefact-link {
    margin-top: auto;
    font-size: 18px;
    color: #1F4B59;
    margin-left: auto;
    text-decoration: underline;
}

.artefact-page-card-collection-description {
    font-size: 18px;
    color: #1F4B59;
    margin-bottom: 10px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-height: 100px;
    height: 100%;
}

.dashboard-page-card-collection-info span {
    font-weight: bold;
}

.dashboard-page-card-bottom-infos {
    font-size: 16px;
    color: #1F4B59;
}

.dashboard-page-card-bottom-infos:hover {
    text-decoration: underline;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    /* padding-right: 10px; */
}

@media screen and (max-width: 800px) {
    .artefact-page-card-wrapper {
        width: 100%;
        margin-right: 0;
        padding: 10px 15px;
    }
    footer{
        position: relative;
    }
}