.dashboard-page-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.dashboard-page-card-wrapper {
    width: 360px;
    height: 260px;
    border-radius: 8px;
    background: #FFEECC;
    padding: 10px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;
}

.dashboard-page-card-name {
    font-size: 20px;
    color: #1F4B59;
    font-weight: bold;
    align-self: center;
    margin-bottom: 15px;
}

.dashboard-page-card-collection-info {
    font-size: 18px;
    color: #1F4B59;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.dashboard-page-card-collection-info span {
    font-weight: bold;
}

.dashboard-page-card-bottom-infos {
    font-size: 16px;
    color: #1F4B59;
}

.dashboard-page-card-bottom-infos:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .dashboard-page-card-wrapper {
        width: 100%;
        margin-right: 0;
        padding: 10px 15px;
    }
}